<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/water.css">
    <title>List buckets</title>
</head>
<body>
<h1>Buckets</h1>
<div>
    <h2>Create new bucket</h2>
    <form method="POST" action="buckets" style="display: flex; flex-wrap: wrap">
        <input type="text" placeholder="bucket name" name="bucket"/>
        <button type="submit">create new bucket</button>
    </form>
</div>
{{if .Buckets}}
<table>
    {{range $bucket := .Buckets}}
    <tr>
        <td>
            <div>
                <a href="objects?bucket={{$bucket.Name}}">{{$bucket.Name}}</a><br/>
                <small>{{$bucket.CreationDate}}</small>
            </div>
            <form method="POST" action="buckets/trash">
                <input type="hidden" name="bucket" value="{{$bucket.Name}}"/>
                <button type="submit">🗑</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>
{{else}}
<p>no buckets</p>
{{end}}
<style>
    td {
        display: flex;
        justify-content: space-between;
    }
</style>
</body>
</html>